<?xml version="1.0" encoding="UTF-8"?>
<!--/shop1/src/main/resources/spring-mvc.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!-- js,css,html : 웹에서 기본제공되는 파일 spring에서 제외시킴. -->
<mvc:default-servlet-handler/>
<!-- @Component, @Controller, @Service, @Repository => 객체화 -->
<context:component-scan base-package="controller,logic,dao,aop"/>
<!-- mvc관련 어노테이션 적용 -->
<mvc:annotation-driven/>
<!-- aop관련 어노테이션 적용 -->
<aop:aspectj-autoproxy/>
<!-- view 결정자 : jsp 페이지의 위치 지정 
	item/list :		/WEB-INF/view/item/list.jsp => itemList 데이터 전달
-->

<bean id="viewResolver"
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="viewClass">
		<value>org.springframework.web.servlet.view.JstlView</value>
	</property>
	<property name="prefix"><value>/WEB-INF/view/</value> </property>
	<property name="suffix"><value>.jsp</value> </property>
</bean>
<!-- 파일 업로드 설정 -->
<bean id="multipartResolver" class=
	"org.springframework.web.multipart.commons.CommonsMultipartResolver"
	p:maxUploadSize ="104854600" p:maxInMemorySize="10485460"/>
<!-- 예외처리 설정 : 예외 발생시 처리를 위한 설정.-->
<bean id="exceptionHandler"
	class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	<property name="exceptionMappings"> <!-- 처리가능한 예외목록 -->
<!-- exception.CartEmptyException 예외발생시 => /WEB-INF/view/exception.jsp로 제어이동 -->
		<value>
		exception.CartEmptyException=exception
		exception.LoginException=exception
		</value>
	</property>
</bean>
<!-- message 처리 설정  : messages.properties : 기본 
					1. messages_ko_KR.properties : 지역코드 ㅣ ko_KR
					2. 1번파일이 없는경우
						messages.properties 
-->
<bean id="messageSource"
	class="org.springframework.context.support.ResourceBundleMessageSource">
	<property name="basenames">
		<list><value>messages</value> </list>
	</property>
</bean>
 </beans>